// Passing following jvmarg (CETA_JAAS_CONFIG_JVMARGS) without having keyStoreFile is safe if CETA_SECURITY_ENABLED is false
// -Djava.security.auth.login.config=$JAVA_HOME/lib/security/jaas.config
// -Djava.security.auth.login.config=jaas.config

KeyStoreLogin {
  com.ibm.websphere.objectgrid.security.plugins.builtins.KeyStoreLoginModule required keyStoreFile="${ceta.home}${/}ceta.keystore";
//  com.ibm.websphere.objectgrid.security.plugins.builtins.KeyStoreLoginModule required keyStoreFile="${ceta.home}${/}ceta.keystore" debug="true";
};
